@{
    ViewData["Title"] = "DashBoard";
}
<div class="container">
    <h2>Welcome to Parcel Management System </h2>
    <p>
        Please use this system to enter the information of the package and also get the details of
        the package entering the way bill number in our search engine.
    </p>
    ©Copyright 2022 - 2023, CloudMojo
</div>
<div class="container">
    <div class="row">
        <div class="col-3 card m-3">
            <div class="card-body">
                <p class="card-text">45</p>
                <h5 class="card-title text-dark">Total Staff</h5>
            </div>
        </div>
        <div class="col-3 card m-3">
            <div class="card-body">
                <p class="card-text">45</p>
                <h5 class="card-title text-dark">Total Parcels</h5>
            </div>
        </div>
        <div class="col-3 card m-3">
            <div class="card-body">
                <p class="card-text">45</p>
                <h5 class="card-title text-dark">In Transit</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 card m-3">
            <div class="card-body">
                <p class="card-text">45</p>
                <h5 class="card-title text-dark">Picked Up</h5>
            </div>
        </div>
        <div class="col-3 card m-3">
            <div class="card-body">
                <p class="card-text">45</p>
                <h5 class="card-title text-dark">Failed Delivery</h5>
            </div>
        </div>
        <div class="col-3 card m-3">
            <div class="card-body">
                <p class="card-text">45</p>
                <h5 class="card-title text-dark">Arrived at Destination</h5>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
<a href="" class="text-end">Export to Excel</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Origin Branch</th>
            <th scope="col">Date and Time</th>
            <th scope="col">Way Bill Number</th>
            <th scope="col">Address of Delivery</th>
            <th scope="col">Status of Delivery</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Delhi</th>
            <td>1/24/2023 4:00 AM </td>
            <td>DHL123456</td>
            <td>Mumbai</td>
            <td>In Transit</td>
        </tr>
        <tr>
            <th scope="row">Delhi</th>
            <td>1/24/2023 4:00 AM </td>
            <td>DHL123456</td>
            <td>Mumbai</td>
            <td>In Transit</td>
        </tr>
        <tr>
            <th scope="row">Delhi</th>
            <td>1/24/2023 4:00 AM </td>
            <td>DHL123456</td>
            <td>Mumbai</td>
            <td>In Transit</td>
        </tr>

    </tbody>
</table>
</div>