@{
    ViewData["Title"] = "DashBoard";
    Layout = "AdminLayout";
}

<div class="container">
    <h2>Welcome to Parcel Management System </h2>
    <p>
        Please use this system to enter the information of the package and also get the details of
        the package entering the way bill number in our search engine.
    </p>
    ©Copyright 2022 - 2023, CloudMojo
</div>
<div class="container">
    <div class="row">
        <div class="col-3 card m-3">
            <div class="card-body">
                <p class="card-text">20</p>
                <h5 class="card-title text-dark">Branch</h5>
            </div>
        </div>
        <div class="col-3 card m-3">
            <div class="card-body">
                <p class="card-text">54</p>
                <h5 class="card-title text-dark">Staff</h5>
            </div>
        </div>
        <div class="col-3 card m-3">
            <div class="card-body">
                <p class="card-text">2400</p>
                <h5 class="card-title text-dark">Packages</h5>
            </div>
        </div>
    </div>
   
</div>
