
@{
    Layout = "PublicLayout";
}

<div class=" container">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary btn-lg  me-md-2" type="button" asp-controller="Home" asp-action="Login">Login</a>
        <a class="btn btn-primary btn-lg" type="button" asp-controller="Home" asp-action="TrackParcelPublic">Track Package</a>
    </div>
</div>